@model OrdenesPrueba.Data.DTO.Order.ListOrderDto

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemOrder[0].OrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemOrder[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemOrder[0].TotalAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ItemOrder)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    <a asp-action="Checkout" asp-route-id="@item.OrderId">Checkout</a>
                </td>
            </tr>
        }
    </tbody>
</table>
